header{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
}
body{
  margin: 0;
  background-color: #FFFCFA;
}
a{
  text-decoration: none;
  color: #BBBBBB;
  padding: 0px 10px;
}
footer{
  text-align: center;
  padding-top: 15px;
}
h1{

}
h2{
  
}
#navbar{
  background-color: #B20000;
}
