<!DOCTYPE html>
<html>
  <head>
    <title>About the Developers</title>
    <link href="static/aboutDevelopers.css" rel="stylesheet">
  </head>
  <div id="container"> <!-- all divs used to vertically align footer. DO NOT CHANGE-->
    <div id="header">
      <header>
        <a id="whereTo" href="/">where to</a><a id="eat" href="/">EAT</a><br>
        <img id="fork" src="static/header.png" alt="fork" width="159.6667px" heigh="26px"> <!--logo with link to home page-->
      </header>
    </div>
    <div id="body">
      <body>
        <h1>About the Developers</h1>
        <div class="bios">
          <h2>Tran Pham</h1>
            <p>
              Tran is a Co-Founder of Where to Eat. She is headed to Pomona College in the fall, starting her major in Computer Science. She loves food. WHo wouldn't?
            </p>
        </div>
        <div class="bios">
          <h2>Kenneth Huang</h1>
            <p>

            </p>
        </div>
        <div class="bios">
          <h2>Elisa Guerrant</h1>
          <p>
            Elidxgfchvjb jnkxfgcvhbjn kmfdxgchvj bknlmdxfgchv jbknl mfgchv bjknlxf gchvbjjkn kmtyfguhijcgyvu hbjnfgchvb jnkgvhbjkn
          </p>
        </div>
      </body>
    </div>
    <div id="footer">
      <footer><br> <!--Footer with links to other pages-->
        <a href="/"> Home </a>
        <a href="/AboutApp"> About Where to Eat </a>
        <a href="/AboutUs"> About the Developers </a>
        <a href="/Sources"> Sources </a>
      </footer>
    </div>
  </div>
</html>
