<!DOCTYPE html>
<html>
  <head>
    <title>Edit Your Profile</title>
    <link href="../static/profile.css" rel="stylesheet">
  </head>
  <div id="container"> <!-- all divs used to vertically align footer. DO NOT CHANGE-->
    <div id="header">
      {% if logout_url %}
      <div id="hello"> Hello, {{username}}.
      <a id="outbutton" href="{{logout_url}}">logout</a></div>
      {% endif %}
      <header>
        <a id="whereTo" href="/">where to</a><a id="eat" href="/">EAT</a><br>
        <img id="fork" src="../static/header.png" alt="fork" width="159.6667px" heigh="26px"> <!--logo with link to home page-->
      </header>
    </div>
    <div id="body">
      <body>
        <h2>Edit Your Profile</h2>
        <p>Enter your top five food preferences:</p><br>
        <form method="POST">
            <p>
                1.
                <select class="dropMenu" name="foodTypePreference1">
                  <option value="No Preference">No Preference</option>
                  <option value="American">American</option>
                  <option value="Arabian">Arabian</option>
                  <option value="Australian">Australian</option>
                  <option value="Brazilian">Brazilian</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Filipino">Filipino</option>
                  <option value="French">French</option>
                  <option value="German">German</option>
                  <option value="Greek">Greek</option>
                  <option value="Indian">Indian</option>
                  <option value="Indonesian">Indonesian</option>
                  <option value="Japanese">Japanese</option>
                  <option value="Latin American">Latin American</option>
                  <option value="Malaysian">Malaysian</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Middle Eastern">Middle Eastern</option>
                  <option value="Portuguese">Portuguese</option>
                  <option value="Thai">Thai</option>
                  <option value="Turkish">Turkish</option>
                  <option value="Vegan">Vegan</option>
                  <option value="Vegetarian">Vegetarian</option>
                  <option value="Vietnamese">Vietnamese</option>
                </select><br><br>
                2.
                <select class="dropMenu" name="foodTypePreference2">
                  <option value="No Preference">No Preference</option>
                  <option value="American">American</option>
                  <option value="Arabian">Arabian</option>
                  <option value="Australian">Australian</option>
                  <option value="Brazilian">Brazilian</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Filipino">Filipino</option>
                  <option value="French">French</option>
                  <option value="German">German</option>
                  <option value="Greek">Greek</option>
                  <option value="Indian">Indian</option>
                  <option value="Indonesian">Indonesian</option>
                  <option value="Japanese">Japanese</option>
                  <option value="Latin American">Latin American</option>
                  <option value="Malaysian">Malaysian</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Middle Eastern">Middle Eastern</option>
                  <option value="Portuguese">Portuguese</option>
                  <option value="Thai">Thai</option>
                  <option value="Turkish">Turkish</option>
                  <option value="Vegan">Vegan</option>
                  <option value="Vegetarian">Vegetarian</option>
                  <option value="Vietnamese">Vietnamese</option>
                </select><br><br>
                3.
                <select class="dropMenu" name="foodTypePreference3">
                  <option value="No Preference">No Preference</option>
                  <option value="American">American</option>
                  <option value="Arabian">Arabian</option>
                  <option value="Australian">Australian</option>
                  <option value="Brazilian">Brazilian</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Filipino">Filipino</option>
                  <option value="French">French</option>
                  <option value="German">German</option>
                  <option value="Greek">Greek</option>
                  <option value="Indian">Indian</option>
                  <option value="Indonesian">Indonesian</option>
                  <option value="Japanese">Japanese</option>
                  <option value="Latin American">Latin American</option>
                  <option value="Malaysian">Malaysian</option>
                  <option value="Mediterranean">Mediterranean</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Middle Eastern">Middle Eastern</option>
                  <option value="Portuguese">Portuguese</option>
                  <option value="Thai">Thai</option>
                  <option value="Turkish">Turkish</option>
                  <option value="Vegan">Vegan</option>
                  <option value="Vegetarian">Vegetarian</option>
                  <option value="Vietnamese">Vietnamese</option>
                </select><br><br>
                4.
                <select class="dropMenu" name="foodTypePreference4">
                  <option value="No Preference">No Preference</option>
                  <option value="American">American</option>
                  <option value="Arabian">Arabian</option>
                  <option value="Australian">Australian</option>
                  <option value="Brazilian">Brazilian</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Filipino">Filipino</option>
                  <option value="French">French</option>
                  <option value="German">German</option>
                  <option value="Greek">Greek</option>
                  <option value="Indian">Indian</option>
                  <option value="Indonesian">Indonesian</option>
                  <option value="Japanese">Japanese</option>
                  <option value="Latin American">Latin American</option>
                  <option value="Malaysian">Malaysian</option>
                  <option value="Mediterranean">Mediterranean</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Middle Eastern">Middle Eastern</option>
                  <option value="Portuguese">Portuguese</option>
                  <option value="Thai">Thai</option>
                  <option value="Turkish">Turkish</option>
                  <option value="Vegan">Vegan</option>
                  <option value="Vegetarian">Vegetarian</option>
                  <option value="Vietnamese">Vietnamese</option>
                </select><br><br>
                5.
                <select class="dropMenu" name="foodTypePreference5">
                  <option value="No Preference">No Preference</option>
                  <option value="American">American</option>
                  <option value="Arabian">Arabian</option>
                  <option value="Australian">Australian</option>
                  <option value="Brazilian">Brazilian</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Filipino">Filipino</option>
                  <option value="French">French</option>
                  <option value="German">German</option>
                  <option value="Greek">Greek</option>
                  <option value="Indian">Indian</option>
                  <option value="Indonesian">Indonesian</option>
                  <option value="Japanese">Japanese</option>
                  <option value="Latin American">Latin American</option>
                  <option value="Malaysian">Malaysian</option>
                  <option value="Mediterranean">Mediterranean</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Middle Eastern">Middle Eastern</option>
                  <option value="Portuguese">Portuguese</option>
                  <option value="Thai">Thai</option>
                  <option value="Turkish">Turkish</option>
                  <option value="Vegan">Vegan</option>
                  <option value="Vegetarian">Vegetarian</option>
                  <option value="Vietnamese">Vietnamese</option>
                </select><br><br><br>
                How many results would you like to be shown?<br><br>
                <select class="dropMenu" name="numResults">
                  <option type = "number" value="1">1</option>
                  <option type = "number" value="2">2</option>
                  <option type = "number" value="3">3</option>
                  <option type = "number" value="4">4</option>
                  <option type = "number" value="5">5</option>
                  <option type = "number" value="6">6</option>
                  <option type = "number" value="7">7</option>
                  <option type = "number" value="8">8</option>
                  <option type = "number" value="9">9</option>
                  <option type = "number" value="10">10</option>
                </select><br><br><br>
                <input id="submitbutton" type="submit" value"Save">
            </p>
        </form>
      </body>
    </div>
    <div id="footer">
      <footer><br> <!--Footer with links to other pages-->
        <a class="footLinks" href="/"> Home </a>
        <a class="footLinks" href="/AboutApp"> About Where to Eat </a>
        <a class="footLinks" href="/AboutUs"> About the Developers </a>
        <a class="footLinks" href="/Sources"> Sources </a>
      </footer>
    </div>
  </div>
  </html>
