<!DOCTYPE html>
<html>
  <head>
    <link href="static/home.css" rel="stylesheet">
    <script src="static/userlocation.js"></script>
    <title>What to Eat</title>
  </head>
  <body>
  <div id="container"> <!--all div tags used to move footer to bottom of page -->
    <div id="header">
      {% if login_url %}
      <a id="inbutton" href="{{login_url}}">login</a>
      {% else %}
      <a id="outbutton" href="{{logout_url}}">logout</a>
        {% if profileInfo == False %}
          <a id="profileLink" href="/newProfile">create your profile</a>
        {% elif profileInfo == True %}
          <a id="profileLink" href="/profile?key={{profile_key_urlsafe}}">profile</a>
        {% endif %}
      {% endif %}
      <header>
        <div id="headSection">
          <a id="whereTo" href="/">where to</a><a id="eat" href="/">EAT</a><br>
        </div>
      </header>
    </div>
    <div id="body">
      <body>
        <form method="POST" id="geolocationform"> <!--form to input location-->
          <input id="getLocation" type="button" value="Get Location" onclick="getUserLocation()"/>
          <div id="locationData">
          </div>
        </form>
        <p><h2 id="middle"> or </h2></p>
        <form action="/search" method="get" id="locationform"> <!--form to input location-->
          <input id="locationbox" type="text" name="location" placeholder=" Enter City, State, or ZIP code"/>
          <input id="submitbutton" type="submit" value="Search!"/>
        </form>
      </body>
    </div>
    <div id="footer">
      <footer><br> <!-- Links to other pages -->
        <a href="/AboutApp"> About Where to Eat </a>
        <a href="/AboutUs"> About the Developers </a>
        <a href="/Sources"> Sources </a>
      </footer>
    </div>
  </div>
</html>
