<!DOCTYPE html>
<html>
  <head>
    <link href="../static/home.css" rel="stylesheet">
    <title>Wheel of Food</title>
  </head>
  <body>
    <header>
      <a href="/"> <img src="../static/header.jpg" alt="Page Header" width="50%" height="50%"> </a>
    </header>
    <form action="/search" method="get" id="locationform"> <!--form to input location-->
      <input id="locationbox" type="text" name="Location" placeholder="Enter City, State, or ZIP code"/>
      <input id="submitbutton" type="submit" value="Spin!"/>
    </form>
  </body>
  <footer><br>
    <a href="/AboutApp"> About Wheel of Food </a>
    <a href="/AboutUs"> About the Developers </a>
    <a href="/Sources"> Sources </a>
  </footer>
</html>
