<!DOCTYPE html>
<html>
  <head>
    <title>Your Profile</title>
    <link href="static/profiledisplay.css" rel="stylesheet">
  </head>
  <div id="container"> <!-- all divs used to vertically align footer. DO NOT CHANGE-->
    <div id="header">
      <header>
        <a id="whereTo" href="/">where to</a><a id="eat" href="/">EAT</a><br>
        <img id="fork" src="static/header.png" alt="fork" width="159.6667px" heigh="26px"> <!--logo with link to home page-->
      </header>
    </div>
    <div id="body">
      <body>
        <h1>Your Profile</h1>
        <p>
          Food Preferences:
          <ul>
            <li>{{foodTypePreference1}}</li>
            <li>{{foodTypePreference2}}</li>
            <li>{{foodTypePreference3}}</li>
            <li>{{foodTypePreference4}}</li>
            <li>{{foodTypePreference5}}</li>
          </ul>
        </p>
        <p>
          Number of Results:
          {{numResults}}<br><br><br>
          <a id="Edit" href="/editProfile?key={{profile_key_urlsafe}}">edit your profile</a>
        </p>
      </body>
    </div>
    <div id="footer">
      <footer><br> <!--Footer with links to other pages-->
        <a class="footLinks" href="/"> Home </a>
        <a class="footLinks" href="/AboutApp"> About Where to Eat </a>
        <a class="footLinks" href="/AboutUs"> About the Developers </a>
        <a class="footLinks" href="/Sources"> Sources </a>
      </footer>
    </div>
  </div>
  </html>
