<!DOCTYPE html>
<html>
  <head>
    <link href="../static/resultpage.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src = "../static/userlocation.js"></script>
    <script>
    function initialize(){
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
      var map = new google.maps.Map(mapCanvas, mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <title>Your Results</title>
  </head>
  <div id="container"> <!-- all divs used to vertically align footer. DO NOT CHANGE-->
    <div id="header">
      <header>
        <a id="whereTo" href="/">where to</a><a id="eat" href="/">EAT</a><br>
        <img id="fork" src="../static/header.png" alt="fork" width="159.6667px" heigh="26px"> <!--logo with link to home page-->
      </header>
    </div>
    <div id="body">
      <body>
        <aside> <!--side bar-->
          <h1>Filter Your Results</h1>
          <form action "/results" method="post" id="filtersform"> <!--form used to filter results-->
            <h2 name = "location" value ={{location}}>Current Location:{{location}}</h2>
            <h2>Number of Restaurants Shown</h2>
            <select class="dropMenu" type ="number" name="number">
              <option type = "number" value="1">1</option>
              <option type = "number" value="2">2</option>
              <option type = "number" value="3">3</option>
              <option type = "number" value="4">4</option>
              <option type = "number" value="5">5</option>
              <option type = "number" value="6">6</option>
              <option type = "number" value="7">7</option>
              <option type = "number" value="8">8</option>
              <option type = "number" value="9">9</option>
              <option type = "number" value="10">10</option>
            </select>
            <h2>Type of Restaurant</h2>
            <select class="dropMenu" name="restaurantType">
              <option value="Chinese">Chinese</option>
              <option value="Indonesian">Indonesian</option>
              <option value="Indian">Indian</option>
              <option value="Mexican">Mexican</option>
              <option value="Vietnamese">Vietnamese</option>
              <option value="Italian">Italian</option>
            </select><br>
            <h2>Price Range</h2>
            <select class="dropMenu" name="priceRange">
              <option value="cheap">$</option>
              <option value="medium">$$</option>
              <option value="expensive">$$$</option>
              <option value="veryExpensive">$$$$</option>
            </select><br>
            <h2>Distance</h2>
            <select class="dropMenu" name="distance">
              <option value="2">0-2 miles</option>
              <option value="5">3-5 miles</option>
              <option value="10">6-10 miles</option>
              <option value="20">11-20 miles<option>
            </select><br><br>
            <div name ="location" value= {{location}}></div>
            <input id="submitbutton" type="submit" value="Submit">
          </form>
      </aside>
      <article>
        {% for i in range(0,nameRest|length) %}
        <h3 id = "restaurantName">Restaurant: {{nameRest[i]}}</h3>
        <div id ="map-canvas"></div>
        <h5 id ="restInfo">Address: {{addressRest[i][0]}}, {{addressRest[i][1]}}, {{addressRest[i][2]}}</h5>
        <h5 id = "restInfo">Distance: {{distanceRest[i]}} miles</h5>
        <h5 id = "restInfo">Type: {{typeRest[i]}}</h5>
        {% endfor %}
      </article>
      </body>
    </div>
    <div id="footer">
      <footer><br> <!--Footer with links to other pages-->
        <a href="/AboutApp"> About Where to Eat </a>
        <a href="/AboutUs"> About the Developers </a>
        <a href="/Sources"> Sources </a>
      </footer>
    </div>
  </div>
</html>
