<!DOCTYPE html>
<html>
  <head>
    <link href="../static/resultpage.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src = "../static/userlocation.js"></script>
    <script>
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    function initialize(){
      var mapCanvas = document.getElementById('map-canvas');
      var userLocation = new google.maps.LatLng({{lat}}, {{lng}});
      var mapOptions = {
          center: userLocation,
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var userMarker = new google.maps.Marker({
        position: userLocation,
        map: map,
        title: 'User location'
        });
      var lat = {{latRest|safe}}
      var lng = {{lngRest|safe}}
      for (var i = 0; i < lat.length; i++) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(lat[i], lng[i]),
          label: labels[i % labels.length],
          map: map,
          title: 'Restaurant location'
        });
      };
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <title>Your Results</title>
  </head>
  <div id="container"> <!-- all divs used to vertically align footer. DO NOT CHANGE-->
    <div id="header">
      {% if login_url %}
      <a id="inbutton" href="{{login_url}}">login</a>
      {% else %}
      <div id="hello"> Hello, {{username}}.
      <a id="outbutton" href="{{logout_url}}">logout</a></div>
      {% endif %}
      <header>
        <a id="whereTo" href="/">where to</a><a id="eat" href="/">EAT</a><br>
        <img id="fork" src="../static/header.png" alt="fork" width="159.6667px" heigh="26px"> <!--logo with link to home page-->
      </header>
    </div>
    <div id="body">
      <body>
        <aside> <!--side bar-->
          <!--<h1>{{alert}}</h1>-->
          <h1>Filter Your Results</h1>
          <form action "/results" method="post" id="filtersform"> <!--form used to filter results-->
            <h2 name = "location" value ={{location}}>Current Location:{{location}}</h2>
            <h2>Number of Restaurants Shown</h2>
            <select class="dropMenu" type ="number" name="number" style ="width: 50px;">
              <option type = "number" value="1">1</option>
              <option type = "number" value="2">2</option>
              <option type = "number" value="3">3</option>
              <option type = "number" value="4">4</option>
              <option type = "number" value="5">5</option>
              <option type = "number" value="6">6</option>
              <option type = "number" value="7">7</option>
              <option type = "number" value="8">8</option>
              <option type = "number" value="9">9</option>
              <option type = "number" value="10">10</option>
            </select>
            <h2>Type of Restaurant</h2>
            <select class="dropMenu" name="restaurantType" style ="width: 150px;">
              <option value="No Preference">No Preference</option>
              <option value="Chinese">Chinese</option>
              <option value="Indonesian">Indonesian</option>
              <option value="Indian">Indian</option>
              <option value="Mexican">Mexican</option>
              <option value="Vietnamese">Vietnamese</option>
              <option value="Italian">Italian</option>
            </select><br>
            <!--<h2>Price Range</h2>
            <select class="dropMenu" name="priceRange">
              <option value="cheap">$</option>
              <option value="medium">$$</option>
              <option value="expensive">$$$</option>
              <option value="veryExpensive">$$$$</option>
            </select><br>-->
            {% if distanceRest %}
              <h2>Distance</h2>
              <select class="dropMenu" name="distance" style ="width: 110px">
                <option value="2">0-2 miles</option>
                <option value="5">3-5 miles</option>
                <option value="10">6-10 miles</option>
                <option value="20">11-20 miles<option>
              </select>
            {% endif %}
            <br><br>
            <div name ="location" value= {{location}}></div>
            <input id="submitbutton" type="submit" value="Submit">
          </form>
      </aside>
      <section>

      <div class ="restResult" id ="map-canvas"></div>
        <h3>{{searchResults}}</h3>
        {% for i in range(0,nameRest|length) %}
          <div class ="restResult">
          <h3 id = "restaurantName">{{letter[i]}}. {{nameRest[i]}}</h3>
          <h5 id ="restInfo">Address: {{addressRest[i][0]}}, {{addressRest[i][1]}}, {{addressRest[i][2]}}</h5>
          {% if distanceRest %}
            <h5 id = "restInfo">Distance: {{distanceRest[i]}} miles</h5>
          {% endif %}
          <h5 id = "restInfo">Type: {{typeRest[i]}}</h5>
      </div>
        {% endfor %}
    </section>
      </body>
    </div>
    <section style = "position: relative">
    <div id="footer" class = "foot">
      <p> <!--Footer with links to other pages-->
        <a class = "foot" href="/AboutApp"> About Where to Eat </a>
        <a class = "foot" href="/AboutUs"> About the Developers </a>
        <a class = "foot" href="/Sources"> Sources </a><p>
    </div>
  </section>
</html>
