<!DOCTYPE html>
<html>
  <head>
    <title>About Where to Eat</title>
    <link href="../static/sources.css" rel="stylesheet">
  </head>
  <div id="container"> <!-- all divs used to vertically align footer. DO NOT CHANGE-->
    <div id="header">
      <header>
        <a id="whereTo" href="/">where to</a><a id="eat" href="/">EAT</a><br>
        <img id="fork" src="../static/header.png" alt="fork" width="159.6667px" heigh="26px"> <!--logo with link to home page-->
      </header>
    </div>
    <div id="body">
      <body>
        <h2>Powered by</h2>
        <h3><a href="http://yelp.com"><img src="static/yelp.png" alt="Yelp Logo" height="233.8px" width="317.1px"></a>API</h3>
        <h3><a href="http://maps.google.com"><img src="static/googmaps.jpg" alt="Google Maps Logo" height="250px" width="250px"></a>API</h3>
      </body>
    </div>
    <div id="footer">
      <footer><br> <!--Footer with links to other pages-->
        <a href="/"> Home </a>
        <a href="/AboutApp"> About Where to Eat </a>
        <a href="/AboutUs"> About the Developers </a>
        <a href="/Sources"> Sources </a>
      </footer>
    </div>
  </div>
  </html>
